* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    border: none;
}

/* Introduction Page */

.container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2em;
}

.intro h1{
    font-size: 2rem;
    color: #293264;
    margin-bottom: 1em;
}

.intro p {
    font-size: 1rem;
    margin-bottom: 1em;
}

.quiz-start-btn {
    font-size: 1rem;
    color: #fff;
    padding: 1em 1.75em;
    border-radius: 0.8em;
    background-color: #4D5B9E;
}

/* Quiz Page */

.quiz-main {
    display: flex;     /* <----------------- */
    flex-direction: column;
    align-items: center;
    padding: 2em 4em;
    height: 100%;
}

.quiz-question {
    font-size: 1.5rem;
    font-weight: 700;
    color: #293264;
    margin-bottom: 1em;
    margin-top: 1em;
}

.quiz-options {
    padding: 0 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.option {
    visibility: hidden;
}

.option-label {
    border: 2px solid #4D5B9E;
    padding: 0.5em 2em;
    border-radius: 2em;
    font-weight: 600;
    font-size: 0.8rem;
}

.option-container {
    padding: 1em;
}

input[type=radio]:checked + label{
    border: none;
    background-color: #D6DBF5;
    box-shadow: 0 0 3px 3px #4D5B9E;
}

.answer-btn {
    font-size: 1rem;
    padding: 1em 2em;
    background-color: #4D5B9E;
    color: #fff;
    font-weight: 600;
    min-width: 50%;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}